//- index.pug
extends templates/one-column.pug  

block variables
	- var desc='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, omnis dolor'
	- var title='Testing Title | Company Name'
	- var twitterSite = '@publisher_handle'
	- var twitterTitle = 'Page Title'
	- var twitterDesc = 'Page description less than 200 characters'
	- var twitterImage = 'http://www.Company.com/image280x150.jpg'
	- var ogTitle = 'Page Title'
	- var ogType = 'website'
	- var ogWebsiteURL = 'http://www.Company.com'
	- var ogImage = 'http://www.Company.com/image560x208.jpg'
	- var ogDesc = 'Description Here'
	- var ogSiteName = 'Site Name, i.e. company name'
	- var fbNumericID = 'Facebook numeric ID'
	block append meta

block content 

	h1 Page h1. 
	
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi iste velit quae commodi eum ipsa est vitae, quaerat quam sint porro harum itaque. Unde delectus soluta aut autem corporis harum.  

	p  ipsum dolor sit amet, consectetur adipisicing elit. Architecto suscipit ea labore nostrum necessitatibus sed nulla optio saepe, magnam facilis perspiciatis omnis vero, quaerat ut expedita assumenda! Iure, aliquam iusto!

