footer
	div.container
		div.row
			div.col-md-9
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perspiciatis illum hic atque, voluptatem doloremque itaque, neque voluptas aut possimus, rem nostrum ratione laboriosam explicabo praesentium delectus dolore adipisci mollitia.
			div.col-md-3